@import url(./_variaveis.css);
html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: var(--cor-secundaria);
  color: var(--cor-contraste-escuro);
  font-family: var(--fonte-familia-corpo);
  overflow-x: hidden;
  padding-bottom: 60px;
}
